@import 'https://fonts.googleapis.com/css?family=Roboto:300,400,500';

body {
    margin: 0 auto;
    font-family: "Helvetica", sans-serif;
    line-height: 1.5;
    color: #d7d7d7;
    background-color:  #0C1821;
    text-align: center;
}

p li {
    width: 80%;
}

a {
    color: #f5a23e;
}

a:hover {
    color: #fec278;
}

.header {
    margin: 0 auto;
    text-align: center;
    position: fixed; top: 0;
    width: 100%;
    background-color: #262e39;
}

.header div {
    float: left;
    margin: 10px 0px 0px 30px;
}

.header img {
    width: 80px;
    transition: width .5s, background-color .5s, border-radius .5s, padding .5s;
}

.header img:hover {
    width: 90px;
    transition: width .5s, background-color .5s, border-radius .5s, padding .5s;
    background-color: #43ffd0;
    border-radius: 5px;
    padding: 3px 10px;
}

.navigation {
    box-sizing: border-box;
    right: -750px;
    top: 5px;
    position: relative;
    width: 590px;
    height: 47px;
    background: #333a43;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navigation a{
    position: relative;
    display: inline-block;
    font-size: 1em;
    font-weight: 500;
    width: 20%;
    color: #e4e4e4;
    text-decoration: none;
    padding: 0 23px;
}

.navigation a:hover{
    color: #f5a23e;
    font-size: large;
    font-weight: 500;
}

.content-table {
    margin: 1em auto;
    margin-top: -0em;
    padding: 4em 6em;
    width: 80%;
    border: 10px solid #12222e;
    border-radius: 25px;
    background-color: #12222e;
}

.content-table a {
    transition: transform .3s;
}

.content-table a:hover {
    transform: translateY(-10px);
    transition: transform .3s;
}

.content {
    background-color: #213450;
    border-radius: 15px;
    border: 5px solid #213450;
    padding: 1em 1em 2em 1em;
    margin-bottom: 2em;
    text-align: left;
    box-shadow: 0 0 100px #1b2b40;
}

.content-end {
    background-color: #213450;
    border-radius: 15px;
    border: 5px solid #213450;
    padding: 1em 1em;
    margin: 2em 0em;
    text-align: left;
}

.table {
    border-collapse: collapse;
    background-color: #1c2f4b;
    color: #e4e4e4;
}

.table li{
    text-align: left;
    padding-right: 1em;
    color: #d7d7d7;
}

.table th{
    text-align: center;
    padding-right: 1em;
    color: #d7d7d7;
}

.button {
    display: inline-block;
    margin: 2px auto;
    padding: 3px 6px;
    font-size: 14px;
    font: 'Poppins';
    font-weight: 500;
    max-width: 180px; 
    color: rgba(245, 162, 62, 1);
    text-align: center;
    border-radius: 5px;
    text-decoration: none;
    background-color: rgba(245, 162, 62, 0.3);
    border: 2px solid rgba(245, 162, 62, 1);
    transition: background-color .3s, transform .3s, color .3s;
}

.button:hover {
    color: #d7d7d7;
    background-color: rgba(245, 162, 62, 1);
    transform: translateY(-5px);
    text-decoration: none;
    cursor: pointer;
    transition: background-color .3s, transform .3s, color .3s;
}

.icon-button {
    border-radius: 25%;
}

.podcast {
    clear: both;
    margin: auto auto;
    padding:20px;
    color: #0C1821;
}

.Intro {
    overflow: hidden;
}

/* HOMEPAGE IDs */

#Introduction {
    background: linear-gradient(to left, #1B2A41, #1b2b40);
    padding: 3em 0em;
    height: fit-content;
}

#Introduction:hover img{
    border: 5px solid rgba(245, 162, 62, 1);
    box-shadow: 0 0 10px rgba(245, 162, 62, 1);
    transition: border .5s, box-shadow .5s;
}

#Introduction .Intro-image {
    width: 35%;
    float:left;
    margin: 1em 0em 0em 5.5em;
}

#Introduction img{
    width: 200px;
    margin-left: 0.5em;
    margin-right: 1em;
    border-radius: 50%;
    border: 5px solid #213450;
    transition: border .5s, box-shadow .5s;
}

.Intro-paragraph {
    margin: 1em 0em 0em 2em;
    text-align: left;
    width: 93%;
}

#Greeting {
    padding: 100px 100px 30px 140px;
    
    text-align: left;
    line-height: 1.5;
    background: url("img/homepage/arquitectura-internet-red.png") no-repeat center center fixed;
    background-size: cover;
}

#Steps {
    line-height: 1.5;
    text-align: left;
    align-self: center;
    font-weight: 300;
    min-width: fit-content;
    margin: auto;
}

#questions {
    overflow: auto;
    background-color: #142236;
    padding: 5px 0px 0px 90px;
    width: 100%;
    min-width: max-content;
    min-width: fit-content;
    text-decoration: none;
}

#questions div{
    margin: 10px 20px;
    margin-top: -10px;
}

#questions li a{
    text-decoration: none;
    transition: font-size .5s;
}

#questions li a:hover{
    font-size: 18px;
    transition: font-size .5s;
}

#Methodology {
    overflow: hidden;
    background-color: #2a374b;
    border: 5px solid #2a374b;
    padding: 5px;
    border-radius: 25px;
    width: fit-content;
    min-width: max-content;
}

/* ISPs IDs */

#ISPs-button {
    display: inline-block;
    margin: 0 1em;
    overflow: auto;
    text-align: center;
    vertical-align: top;
    transition: transform .3s;
}

#ISPs-button span{
    display: block;
}

#ISPs-button:hover {
    transform: scale(1.2);
    transition: transform .3s;
}

/* Self-promotion IDs */

#content-table {
    margin: 8em auto;
    padding: 4em 6em;
    width: 80%;
    border: 10px solid linear-gradient(to left, #142236, #101b23);
    border-radius: 25px;
    background: linear-gradient(to left, #142236, #101b23)
}

#bio {
    text-align: left;
    display: inline-block;
    background: #142236; 
    border: 3px solid linear-gradient(45deg, #73c4be, white);
    width: 20%;
    padding: 0em 1em;
    margin: 2em 3em;
}

#bio p{
    line-height: 1.4;
}

#bio-section {
    width: 100%;
    height: fit-content;
}
